$white-green: #dbe3db; 
$pale-green-1: #dee3db; 
$pale-green-2: #b7c8b7; 
$pale-green-3: #7c916f; 
$pale-green-4: #adbfad; 
$deep-green-1: #6b8147; 
$deep-green-2: #536c53; 
$black-green: #1f241c; 
$shine-yellow: #a7b42b;
